nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    top:0;
    width: 100%;
    padding: 20px 8% 0px 8%;
    background-color: black;
}
.logo{
    color: pink;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: pink;
    text-decoration: none;
    font-weight: bold;
    }

nav ul li a:hover{
    color: #f9004d;
}

.Solar {
    padding: 7rem 7rem 5rem 7rem ;
    background-image: linear-gradient(to bottom, rgba(167, 118, 246, 0.451),80%,rgb(0, 0, 0)); 
}

.Solar img{
    width: 35%;
}

.solar_text{

}    

.Moonbyul {
	text-align: left;
}

.Moonbyul img{

}

.moonbyul_text{
	margin: 0 auto;
    color: rgb(0, 0, 0);
    }

.Wheein{    
    text-align: left;
    background-color: black; 
}

.Wheein img{

}

.wheein_text{
    color: white;
}

.Hwasa{
    text-align: left;
    background-color: black; 
}

.Hwasa img{

}
    
.hwasa_text{

    color: white;
}

