.正規專輯 {
	padding-bottom:150px;
    display:flex
}

.title{
    padding:20px;
}

.正規專輯 .section1 {
    flex:1 1 auto;
	padding: 20px 10px;
	margin-bottom: 10px;
}
.正規專輯 .section2 {
    flex:1 1 auto;
	padding: 20px 10px;
	margin-bottom: 10px;
}

.正規專輯 img {
	width:50%;
	margin-bottom:20px;
}

.正規專輯 img:hover {
	opacity: 0.8;
}

.迷你專輯 img:hover{
    opacity: 0.8;
}
.product_name {
	padding-top:40px;
    padding-bottom:0 px;
}